.card-img{
    width: 1000px;
    height: 500px;
  }
  .component{
    color: blue;
    font-weight: 500;
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  }
  .col-lg-6 image-div{
    
    width: 1000px;
    height: 1000px;
  }
  .container{
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  }
  .contactsub{
    font-style: italic;
  }