.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


span{
  display: inline-block;
  width: 500px;
  
}
.card-img{
  width: 1000px;
  height: 500px;
}
.component{
  color: blue;
  font-weight: 500;
  background: radial-gradient(circle at 10% 20%, rgb(148, 241, 246) 0%, rgb(148, 189, 246) 100.7%);;
}
.col-lg-6 image-div{
  
  width: 1000px;
  height: 1000px;
}
body{
  background: radial-gradient(circle at 10% 20%, rgb(148, 241, 246) 0%, rgb(148, 189, 246) 100.7%);

  
}
.navbar-nav{
  display: inline;
}
.nav-item{

display: inline;
flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-left: 250px;
  color:blue;
}
:hover.nav-item{
  color:yellow;
}
.navbar-brand{
  font-weight:900;
  color:rgb(255, 255, 255);
  font-size: large;
}